@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

/* ================================================= */
/* DASHBOARD */
/* ================================================= */
.outerCardList{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.outerMission {
  display: flex;
  flex-direction: column;
   margin-bottom: 100px;
  width: 100%;
  flex-basis: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: lightblue;
}

/* ================================================= */
/* HEADER */
/* ================================================= */

.headerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
  margin-top: 70px;
}

/* ================================================= */
/* NOVI LOGO */
/* ================================================= */

.novilogo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: clamp(180px, 40vw, 500px);
  aspect-ratio: 1 / 1;

  background-image: url("/src/assets/Images/Novilogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
  z-index: 0;

  opacity: 0.75;
  filter: drop-shadow(0 0 40px rgba(11, 61, 145, 0.6));

  animation:
    floatLogo 6s ease-in-out infinite,
    rotateLogo 80s linear infinite;
}

/* ================================================= */
/* LOGO ANIMATION */
/* ================================================= */

@keyframes floatLogo {
  0% {
    transform: translate(-50%, 0px);
  }

  50% {
    transform: translate(-50%, -15px);
  }

  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes rotateLogo {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* ================================================= */
/* CAPTAIN TITLE */
/* ================================================= */

.captainTitle {
  position: relative;
  z-index: 1;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.captainTitle h1 {
  font-family: var(--font-title);
  font-size: clamp(2.5rem, 6vw, var(--header-size));
  font-weight: var(--header-weight);
  color: var(--color-secondary);
  -webkit-text-stroke: var(--header-stroke);
}

.cardlist{
  width: 100%;
}

.missionList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  justify-content: space-between;
  margin: 0 auto;
}

.outerFooter{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid black 5px;
}