@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Unbounded:wght@200..900&display=swap');

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}


.mission-page{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mission-list{
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.outer-mission {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    width: 100%;
}


.mission-outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.outer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 40px 0;
}

.unbounded {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.button-section {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.submit-mission {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

.submit {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

.form-input-outer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-form-mission {
    flex-basis: 100%;
    max-width: 800px;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
