html{
    background-color: lightblue;
}

.signinheader{
    text-align: center;
    margin-top: 100px;
}

.signinmain{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signsection{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.signarticle{
   display: flex;
   width: 100%;
   max-width: 800px;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid black 5px;
    margin-top: 200px;
}
