/* OUTER */
.outercontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headercontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
/* TITLE */
.contactTitle {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 400px);
}

.contentouter{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contentinner{
  margin-top: 50px;
}

h2{
  text-align: center;
}

.buttongroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.innerbutton{
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 100px;
}

.crewDashboard , .remove{
  width: 100%;
  padding: 20px;

}
