.crewCard {
  display: flex;
  flex-direction: row;
  border: solid black 4px;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
}

.crewCardDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titelHeader{
  text-align: center;
  padding: 40px;
}

.crewtext {
  white-space: pre-line;
  text-align: start;
  padding: 15px;
}

.missioncontrol{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.controlButton{
  width: 100%;
  padding: 20px;
}
