.crewCard {
  display: flex;
  flex-direction: row;
  border: solid black 4px;
  width: 100%;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
}

.crew-card-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.titel-header{
  text-align: center;
  padding: 40px;
}

.crew-text {
  white-space: pre-line;
  text-align: start;
  padding: 15px;
}
