.missionCard {
  display: flex;

  flex-direction: column;

  border: solid black 4px;

  width: 100%;

  max-width: 400px;

  padding: 10px;

  height: fit-content;
}

.cardText {
  display: flex;

  flex-direction: column;

  padding: 15px;
}


.deletebuttoncontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.innerbuttoncontainer{
  display: flex;
  flex-direction: row;
  width: 200px;
}

button{
  width: 100%;
  padding: 20px;
  flex-shrink: 1;
  flex-grow: 0;
}

button:hover{
  transform: translateY(-2px);

  background: rgba(173, 216, 230, 0.25);

  color: #87ceeb;

  box-shadow:
    0 0 15px rgba(173, 216, 230, 0.5);
}