@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pixelify+Sans:wght@400..700&family=Unbounded:wght@200..900&display=swap');

header .unbounded-title-mission  {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 120px);
  color: red;
  -webkit-text-stroke: 5px #0B3D91;
  margin: 0;
  padding: 20px;
}


label{
    text-align: start;
}

.text label{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: clamp(2rem, 10vw, 20px);
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input-outer{
    display: flex;
    flex-direction: row;
    padding: 40px;
    width: 800px;
    width: 100%;
}

.inner-form-mission {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

option{
    width: 100px;
    padding: 20px;
}

select{
    width: 100%;
    padding: 20px;
    border: solid black 10px;
}

input{
    width: 100%;
    padding: 20px;

}

.container-position{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin: 20px 0;
}

.submit-mission,
.submit {
    width: 200px;
    padding: 20px;
    flex-grow: 0;
    cursor: pointer;
}
