.mission-card{
    display: flex;
    flex-direction: column;
    border: solid black 4px;
    flex-basis: 500px;
    justify-content: space-between;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-text p{
    padding: 10px;
}

