@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pixelify+Sans:wght@400..700&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

/* ================================================= */
/* TITLE */
/* ================================================= */

header .unbounded-title-mission {
  font-family: "Unbounded", sans-serif;

  font-weight: 700;

  font-size: clamp(2rem, 10vw, 120px);

  color: red;

  -webkit-text-stroke: 5px #0b3d91;

  margin: 0;

  padding: 20px;
}

/* ================================================= */
/* FORM */
/* ================================================= */
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 400px);
}

.inner-form-mission {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

/* ================================================= */
/* ALL FORM FIELDS */
/* ================================================= */

.mission-fields {
  display: flex;

  flex-direction: column;

  gap: 20px;

  width: 100%;
}

/* ================================================= */
/* LABELS */
/* ================================================= */

label {
  text-align: start;

  font-size: clamp(1rem, 3vw, 20px);

  font-family: "Unbounded", sans-serif;
}

/* ================================================= */
/* TEXT CONTAINER */
/* ================================================= */

.text-container {
  display: flex;

  flex-direction: column;

  width: 100%;
}

/* ================================================= */
/* FORM INPUT OUTER */
/* ================================================= */

.form-input-outer {
  display: flex;

  flex-direction: column;

  padding: 40px;

  width: 100%;
}

/* ================================================= */
/* INPUTS */
/* ================================================= */

input {
  width: 100%;

  padding: 20px;

  border: solid black 4px;

  border-radius: 10px;

  box-sizing: border-box;
}

/* ================================================= */
/* SELECTS */
/* ================================================= */

select {
  width: 100%;

  padding: 20px;

  border: solid black 4px;

  border-radius: 10px;

  box-sizing: border-box;
}

option {
  padding: 20px;
}

/* ================================================= */
/* CONTAINER POSITION */
/* ================================================= */

.container-position {
  display: flex;

  flex-direction: column;

  width: 100%;
}

/* ================================================= */
/* OUTER */
/* ================================================= */

.outer {
  display: flex;

  flex-direction: row;

  justify-content: center;

  width: 100%;
}

/* ================================================= */
/* BUTTON SECTION */
/* ================================================= */

.button-section {
  display: flex;

  flex-direction: row;

  justify-content: center;

  gap: 40px;

  width: 100%;

  margin: 20px 0;
}

/* ================================================= */
/* BUTTONS */
/* ================================================= */



.create-button-cotainer {
  display: flex;
  flex-direction: row;
  width: 350px;
}

.create-btn {
  width: 100%;
  padding: 20px;
}

/* ================================================= */
/* CREW TITLE */
/* ================================================= */

h3 {
  margin-top: 20px;

  font-family: "Unbounded", sans-serif;
}
