.mission-card {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  border: solid black 4px;

  width: 400px;

  padding: 10px;
}

.card-text {
  display: flex;

  flex-direction: column;

  padding: 15px;
}
