.outerRegisterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
    margin: auto;
}

.innerRergisterContainer{
    display: flex;
    flex-direction: row;

}

.formContainer{
    display: flex;
    flex-direction: column;
}

.registerFields{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
}

.label{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

input{
    width: 100%;
    padding: 20px;
}

.outerButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}


.outerbuttonContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}


.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
}

.registerButton{
    width: 100%;
    padding: 20px;
    flex-shrink: 0;
}


